.c-card {
  width: calc(33.3333333% - 24px * 2 / 3);
  margin-right: 24px;
  background: $color-white;
  border-radius: 7px;

  &:nth-child(3n) {
    margin-right: 0;
  }
}


.c-card__wrap {
  padding: 24px 0;
  text-align: center;
}

.c-card__img {
  width: 102px;
  height: 102px;
  margin: 0 auto;
}

.c-card__body {
  font-family: $font-family-en;
  line-height: 1.17214;

}

.c-card__name {
  font-weight: 700;
  font-size: 2rem;
}

.c-card__text {
  font-size: 1.4rem;
  color: $color-text-gray;
}