.c-card {
  margin-right: 24px;
  background: $color-white;
  border-radius: 7px;
  margin-top: 40px;
  border: 1px solid transparent;

  @include mq (pc) {
    width: calc(33.3333333% - 24px * 2 / 3);
    height: 212px;
    box-sizing: border-box;

    &:nth-child(3n) {
      margin-right: 0;
    }
  }

  @include mq (sp) {
    min-width: 200px;
    margin-top: 28px;
  }
}


.c-card__wrap {
  padding: 24px 0;
  text-align: center;

  @include mq (sp) {
    padding: 38px 0;
  }
}

.c-card__img {
  max-width: 102px;
  max-height: 102px;
  margin: 0 auto;
}

.c-card__body {
  font-family: $font-family-en;
  line-height: 1.17214;

}

.c-card__name {
  font-weight: 700;
  font-size: 2rem;
}

.c-card__text {
  font-size: 1.4rem;
  color: $color-text-gray;
}