.c-footer {
  color: $color-white;

  @include mq (pc) {
    display: flex;
    justify-content: space-between;
  }

  @include mq (sm) {
    display: flex;
    flex-flow: column;
  }
}

.c-footer__logo {
  @include mq (sm) {
    order: 2;
    margin-top: 64px;
  }
}

.c-footer__copyright {
  font-size: 1.4rem;
  letter-spacing: .01em;
}

.c-footer__nav {
  display: flex;

  @include mq (sm) {
    order: 1;
  }
}

.c-footer__nav-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.c-footer__nav-item {
  letter-spacing: .01em;
}