.c-footer {
  color: $color-white;
}

.c-footer {
  display: flex;
  justify-content: space-between;
}

.c-footer__copyright {
  font-size: 1.4rem;
  letter-spacing: .01em;
}

.c-footer__nav {
  display: flex;
}

.c-footer__nav-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.c-footer__nav-item {
  letter-spacing: .01em;
}