.c-header__logo {
  width: 57px;
  height: 33px;
}

.c-header__nav-items {
  display: flex;
}

.c-header__nav-item {
  font-weight: 700;
  font-size: 1.8rem;
  letter-spacing: 0.01em;
}

.c-header__nav-link {
  padding: 10px 0
}