// ベース色
$color-background-white: #EFF0F4;
$color-text-black: #1A1D21;
$color-text-gray: #484A4D;
$color-subtext-gray: #808287;
$color-white: #FFFFFF;

$hovcolor-background-lightblue: #FBFCFF;
$hovcolor-border-lightblue: #D8E5FD;
