.u-hover-opacity {
  transition: all 0.3s ease 0s;
  opacity: 1;

  &:hover {
    opacity: .7;
  }
}

.u-hover-card {

  transition: all 0.3s ease 0s;
  
  &:hover {
    background: $hovcolor-background-lightblue;
    border: solid 1px $hovcolor-border-lightblue;
  }
}