.l-header {
  background: $color-white;
  height: 80px;
  box-shadow: 0 4px 4px 0 rgba(126,198,203,0.25);
}

.l-header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}